
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# FOR ME
/tf_analysis/benchmarks/*.swp
/tf_analysis/benchmarks/*.log
/tf_analysis/benchmarks/*.json
/tf_analysis/scripts/*.log

## TENSORFLOW
/tensorflow-1.1.0/.DS_Store
/tensorflow-1.1.0/.ipynb_checkpoints
/tensorflow-1.1.0/node_modules
/tensorflow-1.1.0/.bazelrc
/tensorflow-1.1.0/bazel-*
/tensorflow-1.1.0/third_party/py/numpy/numpy_include
/tensorflow-1.1.0/tools/bazel.rc
/tensorflow-1.1.0/tools/python_bin_path.sh
/tensorflow-1.1.0/tools/git/gen
/tensorflow-1.1.0/util/python/python_include
/tensorflow-1.1.0/util/python/python_lib
/tensorflow-1.1.0/pip_test
/tensorflow-1.1.0/_python_build
tensorflow-1.1.0/*.pyc
__pycache__
/tensorflow-1.1.0/*.swp
/tensorflow-1.1.0/.vscode/
./scripts/cuda/lib64/libcudnn_static.a
./scripts/cuda/lib64/libcudnn.so.5.1.10
./scripts/cuda/lib64/libcudnn.so.5.1.10
./.git/objects/c3/c981750b56834beb2a7cf817d17436f977e15d
./scripts/cuda/lib64/libcudnn.so.5.1.10
./.git/objects/c3/c981750b56834beb2a7cf817d17436f977e15d
./scripts/cuda/lib64/libcudnn.so.5.1.10
./.git/objects/c3/c981750b56834beb2a7cf817d17436f977e15d
./scripts/cuda/lib64/libcudnn.so.5.1.10
./.git/objects/c3/c981750b56834beb2a7cf817d17436f977e15d
./scripts/cuda/lib64/libcudnn.so.5.1.10
./.git/objects/c3/c981750b56834beb2a7cf817d17436f977e15d
